spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver


  data:
    redis:
      host: ${REDIS_HOST}
      port: 6379


  route:
    front: ${ROUTE_FRONT}


jwt:
  secret: ${JWT_SECRET}

llm:
  gemini:
    key: ${LLM_KEY}